*{
    padding: 0;
    margin: 0;
}
body{
    /* background: url("../images/111.jpg");  */
    /*background: #e3acdd;*/
    background:none;
}
table{
    color:white;
    text-align: center;
}
tbody tr{
    height: 40px;
    background-color:rgba(255,255,255,0.2);
}
tbody tr:nth-of-type(2){
    background-color:rgba(0,0,0,0.2);
}
tbody tr:nth-of-type(4){
    background-color:rgba(0,0,0,0.2);
}
tbody th:hover{
    /*box-shadow: 0 0 0 #fff;*/
}



#cou_table th{
    text-align: center;
    height: 45px;
    background-color:rgba(0,0,0,0.7);
}
#cou_table td{
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
}
#cou_table tr:hover td{
    /*box-shadow: 0 0 5px #ffffff ;*/
}
#cou_table th{
    border: 1px solid rgba(255, 255, 255, 0.3);
}
tbody tr{
    height: 40px;
    background-color:rgba(255,255,255,0.2);
}
tbody tr:nth-of-type(2){
    background-color:rgba(0,0,0,0.2);
}
tbody tr:nth-of-type(4){
    background-color:rgba(0,0,0,0.2);
}
tbody tr:hover{
    box-shadow: 0 0 5px #fff;
}
/*课程管理*/
.cou_Pstyle{
    font-size: 18px;
    color: white;
    margin-top: 3%;
}
td span:nth-of-type(1){
    margin-right: 10%;
}
.cou_Box{
    overflow: hidden;
    margin-top:3%;
}
.cou_app>div>span{
    line-height: 30px;
    text-align: center;
}
.cou_app>div{
    float: left;
    margin-left: 1px;
    height: 30px;
    background:rgb(243,108,58);
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: white;
}
.cou_app>div:nth-of-type(1){
    width:30px;
    border-radius:3px;
}
.cou_app>div:nth-of-type(2){
    width:120px;
    border-radius:3px;
    cursor:pointer;
}
.cou_Table{
    margin-top: 3%;
    color: white;
    text-align: center;
}
.cou_maxBox{
    width:35%;
    height: 205px;
    visibility:hidden;
    background-color:rgba(0,0,0,0.9);
    position: absolute;
    top: -250px;
    left:30%;
    transition: all .2s ease-in-out;
}
.cou_boxP{
    color:white;
    font-size:18px;
    text-align: center;
    font-weight:100;
    margin-top:20px;
}
.cou_minBox{
    margin: 0 auto;
    width:80%;
    height:80px;
    border-bottom: 1px solid rgba(228, 228, 228, 0.7);
    border-top:1px solid rgba(228, 228, 228, 0.7);
    color:white;
    line-height: 80px;
}
.cou_sure{
    width:15%;
    height: 30px;
    float: left;
    line-height: 30px;
    /*  border: 1px solid white; */
    background-color:rgba(255,255,255,0.3);
    text-align: center;
    color: white;
    font-weight: 100;
    margin-left:25%;
    margin-top:7%;
}
.cou_close{
    width: 15%;
    height: 30px;
    float: left;
    line-height: 30px;
    border: 1px solid rgba(255,255,255,0.5);
    text-align: center;
    font-weight: 100;
    color: white;
    margin-left:20%;
    margin-top:7%;
}

.cou_coi:before {
    opacity:0.5;
}
thead tr{
    height: 40px;
}
.cou_app>div a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.cou_app div:nth-child(2):hover{
    box-shadow: 0 0 5px #fff;
}
.cou_app{
    height: 40px;
}
.cou_app a{
    color: white;
    text-decoration: none;
}

