body{
    background-color: sandybrown;
}
#stuFirst{
    margin-top:20px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.table-bordered>tbody>tr:hover th{
    box-shadow: 0 0 5px #ffffff;
}

.table>thead>tr>th {
    vertical-align: middle;

}
thead tr th{
    font-size: 13px;
    color: white;
    background-color:rgba(0,0,0,0.9);
    height:45px;
    text-align: center;
}
.stuTrb th{
    background-color: rgba(255, 255, 255, 0.3);
    height:40px;
}
.stuTrh th{
    background-color:rgba(0,0,0,0.2);
    height:40px;
}
#stuXin{
    font-size: 14px;
    margin-left: 30px;
}
#stuXin tr th{

    font-size: 14px;
    height:50px;
    color: #ffffff;
    vertical-align: bottom;
    text-align: center;

}

.stuChatr{
    width:100px;
    padding: 0 0 0 20px;
}


.stuShu{
    width:60px;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

#stuSecond{
    margin-top: 50px;
}
#stuXia th{
    margin-top: 100px;
}
#stuChaxun{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #f36c3a;
    cursor: pointer;
    border-radius:3px

}
#stuYes{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #f36c3a;
    cursor: pointer;
    border-radius:3px

}
#stuChaxun:hover{
    box-shadow: 0 0 5px #fff;
}
#stuYes:hover{
    box-shadow: 0 0 5px #fff;
}
.stuXinzeng{
    width: 120px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    border-radius:3px;
    background-color:#f36c3a;
}
.stuXinzeng a{
    color: white;
    text-decoration: none;
}
.stuXinzeng:hover{
    box-shadow: 0 0 5px #fff;
}

.stuAll{
    padding: 0 40px 0 0;
}
.stuQQ{
    padding: 0;
}
.stuZuiyou{
    padding: 0 0 0 15px;
}
.planTitle {
    margin-left: 8%;
    color: white;
    margin-top: 4%;
}
.table-bordered{
    border: none;
}
html{
    width: 95%;
}
th{
    text-align: center;
    color: white;
}
th span{
    padding: 0 10px;
}
.gd-totail{
    border: none;
    margin: 0;
    color: white;
    width: 137px;
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    /*top: 30px;*/
    height: 30px;
    border-bottom: 1px solid white;
    border-radius: 0;
}
.myTs{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
}
.myWron{
    width: 300px;
    height: 210px;
    margin: auto;
    margin-top: -250px;
    background-color: rgba(0,0,0,0.9);
    color: white;
    overflow: hidden;
    transition: all .2s ease-in-out;
}
.myTishi{
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
.myWhat{
    height: 80px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 15px;
    text-align: left;
    line-height: 80px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-top: 1px solid rgba(255,255,255,0.2);
    font-size: 13px;
}
.myOk{
    width: 55px;
    float: left;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
    margin-left: 70px;
}
.myNo{
    width: 55px;
    float: left;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    cursor: pointer;
    margin-left: 50px;
}

::-webkit-scrollbar{width:5px;height:6px;background:#ccc;}
::-webkit-scrollbar-button{background-color:#e5e5e5;}
::-webkit-scrollbar-track{background:#999;}
::-webkit-scrollbar-track-piece{background:#ccc;}
::-webkit-scrollbar-thumb{background:#666;}
::-webkit-scrollbar-corner{background:#82AFFF;}
::-webkit-resizer{background:#FF0BEE;}